<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 999; --bs-bg-opacity: 0.7;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="favicon.ico" alt="" height="32" class="d-inline-block align-text-middle">
      <b>ShrooM</b>ate Newest
    </a>
    <div *ngIf="!isConnected()" class="text-light nav-link m-2 menu-item">
      <fa-icon [icon]="faTriangleExclamation"></fa-icon>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto flex-nowrap">
        <!-- logged in -->
        <li *ngIf="isLoggedIn()" class="nav-item">
          <button class="nav-link m-2 menu-item" (click)="openSighting()">Sighting!</button>
        </li>
        <!-- allways -->
        <li class="nav-item">
          <button class="nav-link m-2 menu-item" (click)="openFilter()">Filter</button>
        </li>
        <!-- logged in -->
        <li *ngIf="isLoggedIn()" class="nav-item">
          <button class="nav-link m-2 menu-item" (click)="openMessages()">Messages</button>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
          <button class="nav-link m-2 menu-item" (click)="openSettings()">Settings</button>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
          <button class="nav-link m-2 menu-item" (click)="logout()">Log out</button>&nbsp;
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
          <div class="text-light nav-link m-2 menu-item">
            <fa-icon class="me-2" [icon]="faUser"></fa-icon> {{ getCurrentUserName() }}
          </div>
        </li>
        <!-- logged out -->
        <li *ngIf="!isLoggedIn()" class="nav-item">
          <button class="nav-link m-2 menu-item" (click)="openSignup()">Sign up</button>
        </li>
        <li *ngIf="!isLoggedIn()" class="nav-item">
          <button class="nav-link m-2 menu-item" (click)="openLogin()">Log in</button>
        </li>
      </ul>
    </div>
  </div>
</nav>